body{
    background: url('dark_CONTENT_11.png');
}
.body4a{
    display: flex;
    justify-content: space-evenly;
     margin-top: 100px;
}
.img1{
    background-repeat: no-repeat;
    display: flex;
    right:-82px;
    width:20%;
    position: relative;
}
.text{
    display: flex;
    flex-direction: column;
    width:35%;
    position: relative;
    left:100px;
}
.text1{
    display: flex;
    color: rgb(217, 179, 70);
    font-size: 40px;
    font-style: italic;
    margin-top: 50px;
}
.text2{
    display: flex;
    color: #ffffff;
    font-size: 38px;
    width: 75%;
    margin-top: 15px;
}
.text3{
    display: flex;
    color: white;
    width:445px;
    margin-top: 10px;
}
.text4{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color:rgb(217, 179, 70);
    margin-top: 25px;
}
.a{
    font-size: 40px;
}
.a1{
    font-size: 15px;
}
.b{
    font-size: 40px;
}
.b1{
    font-size: 15px;
}
.c{
    font-size: 40px;
}
.c1{
    font-size: 15px;
}