body{
    background-color: #181818;
}

.page6{
    display: flex;
    height:40rem;
    justify-content: center;
    align-items: center;
}
.page6a{
    display: flex;
    width:60%;
    height:60%;
    flex-direction: column;
    justify-content: space-around;
}

.page6a1{
    display: flex;
    color:white;
    font-weight: bold;
    font-size: 35px;
    justify-content: center;
}

.page6a2{
    
    display: flex;
    justify-content: center;
}

.page6a3{
    color:#D9B346;
    display: flex;
    justify-content: center;
}