body{
    background: url('b3.png');
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    font-size: 40px;
    color:white;
    font-family: 'Graphik';
}
.head1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.head2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: gold;
}
.img1{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.img2{
    display: flex;
    justify-content: center;
}
.butt{
    display: flex;
    justify-content: center;
    align-items: center;
    height:200px;

}
.button{
    border: 2px solid white;
    background-color: transparent;
    color: white;
    display: flex;
    justify-content: center;
    height:50px;
    align-items: center;
    width:140px;
}