body {
    background: url('2yQtqBqzDRo.png');
}

.whole {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.page5a {
    background: url('frame.png');
    height: 90ex;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.first {
    display: flex;
    width: 30%;
    flex-direction: column;
    height: 16em;
    justify-content: space-between;
}

.el {
    color: white;
    font-size: 40px;
}

.ovul {
    width: 5rem;
}

.page5b {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.second{

    height: 65%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width:50%;
}
.m {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.seconda {
color:white;
font-size: 30px;
}

.secondb {
color:white;
font-size: 15px;
}


.seconde {
color:white;
}
.secondf {
color:#B0B0B0;
bottom: 20px;
position: relative;
}